@page "{keresoSzo?}" // Azért kell a kérdőjel mert így nem lesz kötelező paraméter. A kérdőjel nélkül kötelező lesz
@model PC_Jatekok.Pages.Jatekok.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>PC-Játékok</h1>

<p>
    <h3><a asp-page="Create">Új készítése</a></h3>
</p>

<form>
    <p>
        <input asp-for="keresNev" class="form-control" placeholder="Keresés Játék Nevére">
    </p>
    <p>
        <input asp-for="keresFejleszto" class="form-control" placeholder="Keresés Fejlesztőre">
    </p>
    <p>
        <select asp-for="keresKategoria" class="form-control">
            <option value="">Kategória</option>
            <option value="Csak Egyjátékos">Csak Egyjátékos</option>
            <option value="Csak TöbbJátékos">Csak Többjátékos</option>
            <option value="Egy és Több játékos">Egy és Több játékos</option>
        </select>
    </p>
    <p>
        <select asp-for="keresMufaj" class="form-control">
            <option value="">Műfaj</option>
            <option value="Akció">Akció</option>
            <option value="Verseny">Verseny</option>
            <option value="Kaland">Kaland</option>
            <option value="Szimulátor">Verseny</option>
            <option value="FPS">Verseny</option>
            <option value="Stratégia">Stratégia</option>
            <option value="Szerepjáték">Szerepjáték</option>
            <option value="Kaland">Oktatás</option>
        </select>
    </p>
    <p>
        <select asp-for="keresPlatform" class="form-control">
            <option value="">Platform</option>
            <option value="Linux">Linux</option>
            <option value="Windows">Windows</option>
            <option value="MacOS">Mac OS</option>
            <option value="Mind">Mind</option>
        </select>
    </p>
    <p><input class="form-control btn-outline-primary" type="submit" value="Keresés"></p>

    <!-- komment -->
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jatek[0].nev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jatek[0].category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jatek[0].genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jatek[0].platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jatek[0].developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jatek[0].releaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jatek) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.platform)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.developer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.releaseDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.id">Szerk.</a> |
                    <a asp-page="./Details" asp-route-id="@item.id">Részletek</a> |
                    <a asp-page="./Delete" asp-route-id="@item.id">Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>
